
@{
    ViewData["Title"] = "Index";
}    
<h1>Implementimi i algoritmit MiniMax në zhvillimin e lojës Cic-Mic</h1>
<link href="~/lib/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet" />
<link href="~/css/Ludo.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <table>
            <tr>
                <td rowspan="6" colspan="6">
                    <div style="border: 32px solid red;width: 100%;height: 100%">
                        <table class="noBorder">
                            <tr>
                                <td>
                                    <div class="Red-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="Red-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="Red-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="Red-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="G49 B23"></td>
                <td class="G50 B24">
                    <i class="fas fa-arrow-down" style="margin-left: 8px; color:green"></i>
                </td>
                <td class="B25"></td>
                <td rowspan="6" colspan="6">
                    <div style="border:32px solid green; width:100%; height:100%">
                        <table class="noBorder">
                            <tr>
                                <td>
                                    <div class="Green-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="Green-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="Green-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="Green-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="G48 B22"></td>
                <td class="Green G51"></td>
                <td class="Green G0 B26"></td>
            </tr>
            <tr>
                <td class="G47 B21">
                </td>
                <td class="Green G52"></td>
                <td class="G1 B27"></td>
            </tr>
            <tr>
                <td class="G46 B20"></td>
                <td class="Green G53"></td>
                <td class="G2 B28"></td>
            </tr>
            <tr>
                <td class="G45 B19"></td>
                <td class="Green G54"></td>
                <td class="G3 B29"></td>
            </tr>
            <tr>
                <td class="G44 B18"></td>
                <td class="Green G55"></td>
                <td class="G4 B30"></td>
            </tr>
            <tr>
                <td class="G38 B12"></td>
                <td class="Red G39 B13"></td>
                <td class="G40 B14"></td>
                <td class="G41 B15"></td>
                <td class="G42 B16"></td>
                <td class="G43 B17"></td>
                <td rowspan="3" colspan="3" style="background-color: red; background-image: -webkit-linear-gradient(45deg, dodgerblue 50%, green 50%);"></td>
                <td class="G5 B31"></td>
                <td class="G6 B32"></td>
                <td class="G7 B33"></td>
                <td class="G8 B34">
                </td>
                <td class="G9 B35"></td>
                <td class="G10 B36"></td>
            </tr>
            <tr>
                <td class="G37 B11">
                    <i class="fas fa-arrow-right" style="margin-left: 8px; color:red"></i>
                </td>
                <td id="c57" class="Red"></td>
                <td id="c58" class="Red"></td>
                <td id="c59" class="Red"></td>
                <td id="c60" class="Red"></td>
                <td id="c61" class="Red"></td>
                <td id="c71" class="Yellow"></td>
                <td id="c70" class="Yellow"></td>
                <td id="c69" class="Yellow"></td>
                <td id="c68" class="Yellow"></td>
                <td id="c67" class="Yellow"></td>
                <td id="c38" class="G11 B37">
                    <i class="fas fa-arrow-left" style="margin-left: 8px; color:#ffbf00"></i>
                </td>
            </tr>
            <tr>
                <td class="G36 B10"></td>
                <td class="G35 B9"></td>
                <td class="G34 B8">
                </td>
                <td class="G33 B7"></td>
                <td class="G32 B6"></td>
                <td class="G31 B5"></td>
                <td id="c44" class="G17 B43"></td>
                <td id="c43" class="G16 B42"></td>
                <td id="c42" class="G15 B41"></td>
                <td id="c41" class="G14 B40"></td>
                <td id="c40" class="Yellow G13 B39"></td>
                <td id="c39" class="G12 B38"></td>
            </tr>
            <tr>
                <td rowspan="6" colspan="6">
                    <div style="border:32px solid dodgerblue; width:100%; height:100%">
                        <table class="noBorder">
                            <tr>
                                <td>
                                    <div class="Blue-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="Blue-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="Blue-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="Blue-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="G30 B4"></td>
                <td class="Blue B55"></td>
                <td class="G18 B44"></td>
                <td rowspan="6" colspan="6">
                    <div style="border:32px solid #ffbf00; width:100%; height:100%">
                        <table class="noBorder">
                            <tr>
                                <td>
                                    <div class="Yellow-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="Yellow-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="Yellow-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="Yellow-Items">
                                        <i class="far fa-circle fa-lg stic"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="G29 B3"></td>
                <td class="Blue B54"></td>
                <td class="G19 B45"></td>
            </tr>
            <tr>
                <td class="G28 B2"></td>
                <td class="Blue B53"></td>
                <td class="G20 B46"></td>
            </tr>
            <tr>
                <td class="G27 B1"></td>
                <td class="Blue B52"></td>
                <td class="G21 B47"></td>
            </tr>
            <tr>
                <td class="Blue B0 G26"></td>
                <td class="Blue B51"></td>
                <td class="G22 B48"></td>
            </tr>
            <tr>
                <td class="G25"></td>
                <td class="G24 B50">
                    <i class="fas fa-arrow-up" style="margin-left: 8px; color:dodgerblue"></i>
                </td>
                <td class="G23 B49"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div>
            Numri i lojtareve qe ka arrite ne fund Max:
            <p id="MaxPlaced"></p>
        </div>

        <div >
            Numri i lojtareve qe ka arrite ne fund Min:
            <p id="MinPlaced"></p>
        </div>


        <div class="Dice" data-count="6">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <label for="speedPlay">Shpejtesia e ekzekutimit ne milisekonda</label>
        <input type="number" class="form-control" id="speedPlay"/>
        <button class="btn btn-primary" id="btnPlay">Luaj</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/ludoHub").build();

        connection.on("ReceiveMessage", function (diceVal, col, ncase) {
            $('.Dice').attr('data-count', diceVal)
            if (ncase == 1) {
                $(col).text('X')
            } else {
                $(col).text('O')
            }
        });


        connection.on("Delete", function (col, ncase) {
            $(col).text('')
        });


        connection.on("Winner", function (winner) {
            alert('Winner is: ' + winner)
        });

        connection.on("ChangeProperty", function (prop, val) {
            $(prop).text(val)
        });

        connection.start().then(function () {

        }).catch(function (err) {
            return console.error(err.toString());
        });

        $('#btnPlay').click(function () { 
            $.post('@Url.Action("Test")', { Speed: $('#speedPlay').val()}, function (data) {
            });
        })
    })
</script>